doctype 5
html
	head
		title= title
		link(rel="icon", type="image/png", href="/img/favicon.png")
		link(rel='stylesheet', href='/css/sine5.css')
		script(src="/js/dom.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/d3.v3.js")
		script(src="/js/oscilloscope.js")
		script(src="/js/synth.js")
		script(src="/js/sine5.js")
		script
			window.onload = function(){
				sine5.init({ noboard: #{noboard} });
			}
	body
		svg#oscilloscope
		aside#note
		h1(title= title) 5
		form
			if noboard
				fieldset.pitch
					label pitch
						input.pitch(type="range", min=ranges.pitch.min, max=ranges.pitch.max)

			fieldset
				label volume
					input.volume(type="range", min=0, max=1, step=0.001, value=0.6)
				button.mute(value='mute') mute

			fieldset
				label wave
					select.wave
						- var waves = "sine square sawtooth triangle custom".split(' ')
						each wave, i in waves
							option(value=i, selected= i==0) #{wave}
			//-label reverb
				input.reverb(type="range", min=0, max=1024)


